In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Importar librerias necesarias
import pandas as pd

In [3]:
# Carga de  bases de datos 
# employee_survey_data.csv:  Encuesta realizada a los empleados sobre satisfacción laboral a final de cada año, 
# se tienen el histórico de dos encuestas, la realizada el 31-12-2015 y la que se realizó el 31-12-2016.
df_encuesta_empleado = pd.read_csv('https://raw.githubusercontent.com/osiris-contreras/Anal-tica-en-Recursos-Humanos/main/bases%20de%20datos%20RRHH/employee_survey_data.csv')

#general_data.csv: Información general de los empleados, dado que la información puede cambiar con el tiempo
#  se extrajo la información con el último corte 31-12-2016 y un histórico con la información con corte 31-12-2015
df_general = pd.read_csv('https://raw.githubusercontent.com/osiris-contreras/Anal-tica-en-Recursos-Humanos/main/bases%20de%20datos%20RRHH/general_data.csv')

# manager_survey_data.csv: Encuesta de desempeño de los empleados realizada por parte de los jefes, se tienen el histórico de dos encuestas,
#  la realizada el 31-12-2015 y la que se realizó el 31-12-2016.
df_encuesta_gerente = pd.read_csv('https://raw.githubusercontent.com/osiris-contreras/Anal-tica-en-Recursos-Humanos/main/bases%20de%20datos%20RRHH/manager_survey.csv')

# retirement_info.csv: Información de retiro de los empleados que dejaron la empresa, se tiene la información de retiro de los empleados 
# de 2015 y 2016, sin embargo, la información de 2015 no se pudo obtener completa por problemas en el almacenamiento de la información, 
# por lo tanto, no están todos los empleados que se retiraron ese año.
df_retiro = pd.read_csv('https://raw.githubusercontent.com/osiris-contreras/Anal-tica-en-Recursos-Humanos/main/bases%20de%20datos%20RRHH/retirement_info.csv')

In [4]:
# Visualización de bases de datos
display(df_encuesta_empleado)
display(df_encuesta_empleado.sort_values(by=['EmployeeID']).head(10))

,EmployeeID,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,DateSurvey
0,1,3.0,4.0,2.0,2015-12-31
1,2,3.0,2.0,4.0,2015-12-31
2,3,2.0,2.0,1.0,2015-12-31
3,4,4.0,4.0,3.0,2015-12-31
4,5,4.0,1.0,3.0,2015-12-31
...,...,...,...,...,...
8815,4406,4.0,1.0,3.0,2016-12-31
8816,4407,4.0,4.0,3.0,2016-12-31
8817,4408,1.0,3.0,3.0,2016-12-31
8818,4409,4.0,1.0,3.0,2016-12-31
8819,4410,1.0,3.0,NaN,2016-12-31

,EmployeeID,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,DateSurvey
0,1,3.0,4.0,2.0,2015-12-31
4410,1,3.0,4.0,2.0,2016-12-31
1,2,3.0,2.0,4.0,2015-12-31
2,3,2.0,2.0,1.0,2015-12-31
4412,3,2.0,2.0,1.0,2016-12-31
3,4,4.0,4.0,3.0,2015-12-31
4413,4,4.0,4.0,3.0,2016-12-31
4,5,4.0,1.0,3.0,2015-12-31
4414,5,4.0,1.0,3.0,2016-12-31
4415,6,3.0,2.0,2.0,2016-12-31